
  body{
     background-image: url(./images/ab.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 1512px;
  }
  .container{ 
    width: 100%;
    height: 50%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom:10px;
 }
  .item active{
     height: 30%;
  }
 .card{
     padding-right: 20px;
     border-left: 20px;
 }
 .carousel-inner{
   height: 400px;
 }
 .title{
    color: white;
    text-align: center;
    font-size: xx-large;
 }
 footer{
    background-color: black;
 }